@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body {
  margin: 0;
}
.panel {
  display: none;
}
.panel:target {
  display: block;
}
.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  padding-top: 1em;
}
.tabs > li {
  display: inline-block;
}
a {
  border: 6px solid grey;
  padding: 0 .6em;
  border-radius: 1em;
}
a:hover {
  background-color: grey;
}
img {
  width: 100%;
}
